n8n/workflows/auth-login.json
{
  "name": "Auth - Login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "auth-login"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body.email || !body.senha) {\n  return [{ json: { success: false, erro: 'email e senha são obrigatórios' } }];\n}\nreturn [{ json: { valido: true, dados: body } }];"
      },
      "id": "validar",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.valido }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "valido",
      "name": "Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, email, perfil FROM usuarios WHERE email = '{{ $json.dados.email }}' AND senha = '{{ $json.dados.senha }}' LIMIT 1;",
        "options": {}
      },
      "id": "buscar-usuario",
      "name": "Buscar Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": { "postgres": { "id": "postgres-orq", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nif (!row.id) {\n  return [{ json: { encontrado: false, success: false, erro: 'Email ou senha incorretos' } }];\n}\nconst header = btoa(JSON.stringify({ alg: 'HS256', typ: 'JWT' }));\nconst payload = btoa(JSON.stringify({ sub: row.id, nome: row.nome, email: row.email, perfil: row.perfil, iat: Math.floor(Date.now()/1000), exp: Math.floor(Date.now()/1000) + 86400 }));\nconst token = `${header}.${payload}.orq`;\nreturn [{ json: { encontrado: true, success: true, token, usuario: { id: row.id, nome: row.nome, email: row.email, perfil: row.perfil } } }];"
      },
      "id": "gerar-token",
      "name": "Gerar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.encontrado }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "encontrado",
      "name": "Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 200 }
      },
      "id": "resposta-ok",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 120]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 401 }
      },
      "id": "resposta-negado",
      "name": "Resposta Negado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 320]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 400 }
      },
      "id": "resposta-erro",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validar", "type": "main", "index": 0 }]] },
    "Validar": { "main": [[{ "node": "Válido?", "type": "main", "index": 0 }]] },
    "Válido?": { "main": [[{ "node": "Buscar Usuário", "type": "main", "index": 0 }], [{ "node": "Resposta Erro", "type": "main", "index": 0 }]] },
    "Buscar Usuário": { "main": [[{ "node": "Gerar Token", "type": "main", "index": 0 }]] },
    "Gerar Token": { "main": [[{ "node": "Encontrado?", "type": "main", "index": 0 }]] },
    "Encontrado?": { "main": [[{ "node": "Resposta OK", "type": "main", "index": 0 }], [{ "node": "Resposta Negado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
