n8n/workflows/auth-register.json
{
  "name": "Auth - Register",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "auth-register"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body.nome || !body.email || !body.senha) {\n  return [{ json: { success: false, erro: 'nome, email e senha são obrigatórios' } }];\n}\nif (body.senha.length < 6) {\n  return [{ json: { success: false, erro: 'Senha deve ter no mínimo 6 caracteres' } }];\n}\nreturn [{ json: { valido: true, dados: body } }];"
      },
      "id": "validar",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.valido }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "valido",
      "name": "Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM usuarios WHERE email = '{{ $json.dados.email }}' LIMIT 1;",
        "options": {}
      },
      "id": "checar-email",
      "name": "Email Existe?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": { "postgres": { "id": "postgres-orq", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nif (row.id) {\n  return [{ json: { existe: true } }];\n}\nreturn [{ json: { existe: false } }];"
      },
      "id": "checar-resultado",
      "name": "Já Cadastrado?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.existe }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "pode-criar",
      "name": "Pode Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios (nome, email, senha, perfil, criado_em) VALUES ('{{ $('Validar').first().json.dados.nome }}', '{{ $('Validar').first().json.dados.email }}', '{{ $('Validar').first().json.dados.senha }}', 'membro', NOW()) RETURNING id, nome, email, perfil;",
        "options": {}
      },
      "id": "criar-usuario",
      "name": "Criar Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 120],
      "credentials": { "postgres": { "id": "postgres-orq", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const u = $input.first().json;\nreturn [{ json: { success: true, usuario: { id: u.id, nome: u.nome, email: u.email, perfil: u.perfil } } }];"
      },
      "id": "montar-ok",
      "name": "Montar OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 120]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 201 }
      },
      "id": "resposta-ok",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1900, 120]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, erro: 'Email já cadastrado' } }];"
      },
      "id": "montar-duplicado",
      "name": "Montar Duplicado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 320]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 409 }
      },
      "id": "resposta-duplicado",
      "name": "Resposta Duplicado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1700, 320]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 400 }
      },
      "id": "resposta-erro",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validar", "type": "main", "index": 0 }]] },
    "Validar": { "main": [[{ "node": "Válido?", "type": "main", "index": 0 }]] },
    "Válido?": { "main": [[{ "node": "Email Existe?", "type": "main", "index": 0 }], [{ "node": "Resposta Erro", "type": "main", "index": 0 }]] },
    "Email Existe?": { "main": [[{ "node": "Já Cadastrado?", "type": "main", "index": 0 }]] },
    "Já Cadastrado?": { "main": [[{ "node": "Pode Criar?", "type": "main", "index": 0 }]] },
    "Pode Criar?": { "main": [[{ "node": "Criar Usuário", "type": "main", "index": 0 }], [{ "node": "Montar Duplicado", "type": "main", "index": 0 }]] },
    "Criar Usuário": { "main": [[{ "node": "Montar OK", "type": "main", "index": 0 }]] },
    "Montar OK": { "main": [[{ "node": "Resposta OK", "type": "main", "index": 0 }]] },
    "Montar Duplicado": { "main": [[{ "node": "Resposta Duplicado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
