n8n/workflows/fase1-atualizar-status.json
{
  "name": "Fase 1 - Atualizar Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "projeto/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "projeto-status"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst statusValidos = ['BACKLOG','ANÁLISE','DESENVOLVIMENTO','TESTES','HOMOLOGAÇÃO','PRODUÇÃO','CONCLUÍDO'];\n\nif (!body.id) return [{ json: { success: false, erro: 'Campo obrigatório faltando: id' } }];\nif (!body.status) return [{ json: { success: false, erro: 'Campo obrigatório faltando: status' } }];\nif (!statusValidos.includes(body.status)) return [{ json: { success: false, erro: `Status inválido. Use: ${statusValidos.join(', ')}` } }];\nif (!body.usuario) return [{ json: { success: false, erro: 'Campo obrigatório faltando: usuario' } }];\n\nreturn [{ json: { valido: true, dados: body } }];"
      },
      "id": "validar-campos",
      "name": "Validar Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-valido",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "checar-validacao",
      "name": "Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE projetos SET status = '{{ $json.dados.status }}', updated_at = NOW() WHERE id = {{ $json.dados.id }} RETURNING *;",
        "options": {}
      },
      "id": "atualizar-status",
      "name": "Atualizar Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-orq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const projeto = $input.first().json;\nif (!projeto.id) {\n  return [{ json: { encontrado: false } }];\n}\nreturn [{ json: { encontrado: true, projeto } }];"
      },
      "id": "checar-projeto",
      "name": "Projeto Existe?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-encontrado",
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "checar-encontrado",
      "name": "Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (usuario, acao, entidade, entidade_id, detalhe, created_at) VALUES ('{{ $('Validar Campos').first().json.dados.usuario }}', 'ATUALIZOU_STATUS', 'projeto', {{ $('Validar Campos').first().json.dados.id }}, '{{ JSON.stringify({ status_novo: $('Validar Campos').first().json.dados.status }) }}', NOW());",
        "options": {}
      },
      "id": "registrar-log",
      "name": "Registrar Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 120],
      "credentials": {
        "postgres": {
          "id": "postgres-orq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $('Projeto Existe?').first().json.projeto }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "resposta-sucesso",
      "name": "Resposta Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"erro\": \"Projeto não encontrado\"}",
        "options": { "responseCode": 404 }
      },
      "id": "resposta-nao-encontrado",
      "name": "Resposta Não Encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, erro: $('Validar Campos').first().json.erro }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "resposta-erro",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validar Campos", "type": "main", "index": 0 }]]
    },
    "Validar Campos": {
      "main": [[{ "node": "Válido?", "type": "main", "index": 0 }]]
    },
    "Válido?": {
      "main": [
        [{ "node": "Atualizar Status", "type": "main", "index": 0 }],
        [{ "node": "Resposta Erro", "type": "main", "index": 0 }]
      ]
    },
    "Atualizar Status": {
      "main": [[{ "node": "Projeto Existe?", "type": "main", "index": 0 }]]
    },
    "Projeto Existe?": {
      "main": [[{ "node": "Encontrado?", "type": "main", "index": 0 }]]
    },
    "Encontrado?": {
      "main": [
        [{ "node": "Registrar Log", "type": "main", "index": 0 }],
        [{ "node": "Resposta Não Encontrado", "type": "main", "index": 0 }]
      ]
    },
    "Registrar Log": {
      "main": [[{ "node": "Resposta Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
