n8n/workflows/fase2-listar-tarefas.json
{
  "name": "Fase 2 - Listar Tarefas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tarefa/listar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tarefa-listar"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst projeto_id = query.projeto_id;\nconst where = projeto_id ? `WHERE t.projeto_id = ${parseInt(projeto_id)}` : '';\nreturn [{ json: { where } }];"
      },
      "id": "montar-filtro",
      "name": "Montar Filtro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.titulo, t.descricao, t.responsavel, t.status, t.projeto_id, p.nome as projeto_nome, t.created_at, t.updated_at FROM tarefas t LEFT JOIN projetos p ON p.id = t.projeto_id {{ $json.where }} ORDER BY t.created_at DESC;",
        "options": {}
      },
      "id": "buscar-tarefas",
      "name": "Buscar Tarefas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": { "postgres": { "id": "postgres-orq", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tarefas = items.map(i => i.json);\nreturn [{ json: { success: true, total: tarefas.length, data: tarefas } }];"
      },
      "id": "formatar-resposta",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": { "responseCode": 200 }
      },
      "id": "resposta",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Montar Filtro", "type": "main", "index": 0 }]] },
    "Montar Filtro": { "main": [[{ "node": "Buscar Tarefas", "type": "main", "index": 0 }]] },
    "Buscar Tarefas": { "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]] },
    "Formatar Resposta": { "main": [[{ "node": "Resposta", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
