n8n/workflows/fase7-claims-listar.json
{
  "id": "f7a10000-0000-0000-0000-000000000001",
  "name": "Fase 7 - Claims (Listar)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "claims/listar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "claims-listar"
    },
    {
      "parameters": {
        "jsCode": "const pid = parseInt($input.first().json.query?.projeto_id ?? '0');\nreturn [{ json: { projeto_id: pid } }];"
      },
      "id": "extrair",
      "name": "Extrair projeto_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, projeto_id, projeto_nome, acao, responsavel, status, created_at FROM claims WHERE projeto_id = {{ $json.projeto_id }} AND status = 'ativo' ORDER BY created_at DESC;",
        "options": {}
      },
      "id": "buscar",
      "name": "Buscar Claims",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": { "id": "postgres-orq", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, data: rows } }];"
      },
      "id": "formatar",
      "name": "Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "resposta",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook":           { "main": [[{ "node": "Extrair projeto_id", "type": "main", "index": 0 }]] },
    "Extrair projeto_id":{ "main": [[{ "node": "Buscar Claims",      "type": "main", "index": 0 }]] },
    "Buscar Claims":     { "main": [[{ "node": "Formatar",           "type": "main", "index": 0 }]] },
    "Formatar":          { "main": [[{ "node": "Resposta",           "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
